html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
  -webkit-backface-visibility: hidden;
  background: #ffffff;
  height: 100%;
}
.clear:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
